In [6]:
# Print digits of positive integer N in reverse order

n = int(input())

if n == 0 :
  print(0)
else :
  while n > 0 :
    print(n%10, end=' ')
    n = n//10

# initialise condition variable
# while condition :
#   do some work
#   update condition variable

729
9 2 7

In [10]:
# Reverse an integer N

n = int(input())

ans = 0

while n > 0 :
  d = n % 10 # Get last digit of n
  ans = ans * 10 + d # Put d at the end of ans
  n = n // 10 # Remove the last digit of n

print(ans)

0
0

In [15]:
# Print common factors of N and M

n = int(input())
m = int(input())

# [1, min(n,m)]
hcf = 1

for i in range(1, min(n, m)+1) :
  if n % i == 0 and m % i == 0 :
    # i is a common factor
    print(i, end=' ')
    hcf = i

print()
print("HCF is", hcf)

17
51
1 17
HCF is 17

In [ ]:
# LCM of 2 integers N and M

# Lowest common multiple

15 -> 15 30 45 60 75 90
10 -> 10 20 30 40 50 60

Common multiple -> 30 60
Lowest Common Multiple -> 

1. Using while loop
2. Using formula

In [17]:
# Given an integer N, print N stars in a row

# N = 5, Output : *****
# N = 9, Output : *********

n = int(input())

for i in range(1, n+1) : # [1, N]
  print('*', end='')

9
*********

In [18]:
for i in range(3):
    print('*', end='')
for i in range(3):
    print('*', end='')
for i in range(3):
    print('*', end='')

*********

In [24]:
# Print a rectangle of starts of size N*M
# N -> Rows
# M -> Cols

# N = 2
# M = 4

# ****
# ****

# N = 3
# M = 2

# **
# **
# **


n = int(input())
m = int(input())

for i in range(1, n+1) : # Run n times
  for j in range(1, m+1) : # Print 1 row / m stars
    print('*', end='')
  print() # start a new line after printing row

4
3
***
***
***
***

In [26]:
# Given N, print staircase pattern

# N = 4
# *
# **
# ***
# ****

# N = 6
# *
# **
# ***
# ****
# *****
# ******

# N = 4
# Row   Stars
# 1     1
# 2     2
# 3     3
# 4     4

n = int(input())

for row in range(1, n+1) : # Run n times
  for col in range(1, row+1) : # Print 1 row / m stars
    print('*', end='')
  print() # start a new line after printing row

# row   col
# 1     range(1, 2) -> [1]
# 2     range(1, 3) -> [1, 2]
# 3     range(1, 4) -> [1, 2, 3]
# 4     range(1, 5) -> [1, 2, 3, 4]

10
*
**
***
****
*****
******
*******
********
*********
**********