In [ ]:
# Q1 : Print staircase pattern

n = int(input())

for row in range(1, n+1) :
  for col in range(1, row+1) :
    print('*', end='')
  print()

5
*
**
***
****
*****

In [ ]:
# Q2 : Print inverse staircase pattern

n = int(input())

# N rows
for row in range(1, n+1) :
  # For each row there are n+1-row cols
  # range(1, n+1-row) -> [1, n+1-row)
  # range(1, n+1-row +1) -> [1, n+1-row +1)
  for col in range(1, n+1-row + 1) :
    print('*', end='')
  # Print new line
  print()

# I want to print n stars
# range(1, n+1)
# range(1, n) -> Wrong

5
*****
****
***
**
*

In [ ]:
# Q3 : Print pattern with spaces

n = int(input())

# N rows
for row in range(1, n+1) :
  # In each row we have - 1 start, N-2 spaces, 1 star
  print('*', end='')
  for sp in range(1, n-2 + 1):
    print(' ', end='')
  print('*', end='')
  print()

3
* *
* *
* *

In [ ]:
# Q4 : Print pattern with leading spaces

n = int(input())

# Print n rows
for row in range(1, n+1) :
  # Print n-row spaces
  for sp in range(1, n-row +1) :
    print(' ', end='')
  # Print row stars
  for st in range(1, row +1) :
    print('*', end='')
  print()

5
    *
   **
  ***
 ****
*****

In [ ]:
# Q5 : Print pyramid

n = int(input())

for row in range(1, n+1) :

  # print spaces
  for sp in range(1, n-row +1) :
    print(' ', end='')
  # print stars
  for st in range(1, 2*row-1 +1) :
    print('*', end='')
  # print spaces
  for sp in range(1, n-row +1) :
    print(' ', end='')
  print()

5
    *
   ***
  *****
 *******
*********

In [ ]:
# Q6 : Print upper diamond

n = int(input())

for row in range(1, n+1) :

  # print star
  for st in range(1, n-row+1 +1) :
    print('*', end='')
  # print space
  for sp in range(1, 2*row-2 +1) :
    print(' ', end='')
  # print star
  for st in range(1, n-row+1 +1) :
    print('*', end='')
  print()

5
**********
****  ****
***    ***
**      **
*        *

In [ ]:
# Q7 : Print lower diamond

n = int(input())

for row in range(1, n+1) :

  # print star
  for st in range(1, row +1) :
    print('*', end='')
  # print space
  for sp in range(1, 2*n-2*row +1) :
    print(' ', end='')
  # print star
  for st in range(1, row +1) :
    print('*', end='')
  print()

5
*        *
**      **
***    ***
****  ****
**********

In [ ]:
# Q8 : Print a diamond

# N = 5

# **********
# ****  ****
# ***    ***
# **      **
# *        *
# *        *
# **      **
# ***    ***
# ****  ****
# **********

n = int(input())

# Print upper diamond

for row in range(1, n+1) :

  # print star
  for st in range(1, n-row+1 +1) :
    print('*', end='')
  # print space
  for sp in range(1, 2*row-2 +1) :
    print(' ', end='')
  # print star
  for st in range(1, n-row+1 +1) :
    print('*', end='')
  print()

# Print lower diamond

for row in range(1, n+1) :

  # print star
  for st in range(1, row +1) :
    print('*', end='')
  # print space
  for sp in range(1, 2*n-2*row +1) :
    print(' ', end='')
  # print star
  for st in range(1, row +1) :
    print('*', end='')
  print()

5
**********
****  ****
***    ***
**      **
*        *
*        *
**      **
***    ***
****  ****
**********

In [ ]:
# Print staircase with spaces
# Note : Do not print any space after last star in the row

# N = 5
# *
# *_*
# *_*_*
# *_*_*_*
# *_*_*_*_*


n = int(input())

for row in range(1, n+1) :
  for col in range(1, row+1) :
    print('*', end='')
    if col != row : # Means col is not equal to last column value
      print('_', end='')
  print()

5
*
*_*
*_*_*
*_*_*_*
*_*_*_*_*