# map function
![](https://scaler.com/topics/images/map-in-python.webp)

In [2]:
a = [5, 9, 1, 4, 3]

# No modifications to the original list
# Expected list is [25, 81, 1, 16, 9]

In [4]:
def square(x) :
  return x ** 2

ls = []

for x in a :
  ls.append( square(x) )

print(ls)

[25, 81, 1, 16, 9]

In [ ]:
# Map function

# Calls a function on all items in an iterable

# Syntax
# map(function, iterable)

# iterables -> list, range, string, dictionary, set, tuple

In [6]:
def square(x) :
  return x ** 2

print(map(square, a))

ls = list(map(square, a))

print(ls)

<map object at 0x7f1c77337a90>
[25, 81, 1, 16, 9]

In [7]:
def cube(x) :
  return x ** 3

ls = list(map(cube, a))

print(ls)

[125, 729, 1, 64, 27]

In [8]:
# Map function is going to call the given function with only one argument

def random(x, y):
    return x + y

a = [5, 9, 1, 4, 3]
b = list(map(random, a))

print(b)

TypeError: ignored

## One line code for reading and parsing list input

In [9]:
# take this list as input : l = 10 5 2 6

s = input() # s = '10 5 2 6'
l = s.split() # l = ["10", "5", "2", "6"]

ls = list(map(int, l))
print(ls)

10 5 2 6
[10, 5, 2, 6]

In [11]:
# input().split() -> takes input, converts it to a list

ls = list(map(int, input().split()))
print(ls)

10 5 3 9 4 8
[10, 5, 3, 9, 4, 8]

### Quiz 1
```py
def find_sqr(x):
    return x*x*2

l = [1, 2, 3]
res = list(map(find_sqr, l))

print(res)
```

In [12]:
def find_sqr(x):
    return x*x*2

l = [1, 2, 3]
res = list(map(find_sqr, l))

print(res)

[2, 8, 18]

#### Quiz 2
```py
l = [1, 2]  
l.append(0)

  
l.append(3)  
l = l + [3]  
print(l)
```

In [15]:
l = [1, 2]  
l.append(0) # 1 2 0
l.append(3) # 1 2 0 3
l = l + [3] # 1 2 0 3 3
print(l)

[1, 2, 0, 3, 3]

#### Quiz 3
```py
l = []
odi = [120, 30, 50]
l.extend(odi)
print(l)
```

In [13]:
l = []
odi = [120, 30, 50]
l.extend(odi)
print(l)

[120, 30, 50]

#### Quiz 4
```py
l = []
odi = [120, 30, 50]
l.append(odi)
print(l)
```

In [14]:
l = []
odi = [120, 30, 50]
l.append(odi)
print(l)

[[120, 30, 50]]

## 2D Lists
![](https://scaler.com/topics/images/2d-array-python.webp)

In [16]:
a = [
      [10, 20], # Row 0
      [30, 40], # Row 1
      [50, 60], # Row 2
      [70, 80], # Row 3
      [90, 100], # Row 4
]

# a is a list of lists ( 2D list )
# each list inside a represents a row

In [17]:
print(a)

[[10, 20], [30, 40], [50, 60], [70, 80], [90, 100]]

In [20]:
print(a[0]) # row 0

print(a[1]) # row 1

print(a[0][1]) # 1th element of 0th row

[10, 20]
[30, 40]
20

In [25]:
# Number of rows inside the 2D list
print("Number of rows", len(a))

# Number of cols inside the 2D list ( only for same columns in each row )
print("Number of cols", len(a[0]))

# Type of 2D list
print("Type of", type(a))

Number of rows 5
Number of cols 2
Type of <class 'list'>

In [26]:
a = [
    [10, 20], # Row 0
    [30, 40, 67], # Row 1
    [50, 60, 56, 345], # Row 2
    [70, 80, 11], # Row 3
    [90], # Row 4
]

print(a)
# Rows in 2D list can have variable number of elements
# Not necessary to be same

[[10, 20], [30, 40, 67], [50, 60, 56, 345], [70, 80, 11], [90]]

### **Iterating over a 2D list**

In [27]:
# 2D array / list with same number of columns for all rows
a = [
    [10, 20],
    [30, 40],
    [50, 60],
]
print(a)

[[10, 20], [30, 40], [50, 60]]

In [28]:
print(len(a), len(a[0]))

3 2

In [32]:
# Print each row inside the list

for i in range(len(a)) :
  print('a[', i, '] = ', a[i], sep='')

a[0] = [10, 20]
a[1] = [30, 40]
a[2] = [50, 60]

In [34]:
# Print each row inside the list in this format

# a = [[10, 20], [30, 40], [50, 60]]
a = [
    [10, 20], # Row 0
    [30, 40, 67], # Row 1
    [50, 60, 56, 345], # Row 2
    [70, 80, 11], # Row 3
    [90], # Row 4
]

# 10 20
# 30 40
# 50 60

for i in range(len(a)) :

  row = a[i] # ith row in 2D list

  for j in range(len(row)) :

    col = row[j] # jth col in ith row
    # print(a[i][j]) 
    print(col, end=' ')
  
  print()

10 20
30 40 67
50 60 56 345
70 80 11
90

In [35]:
# Iterate over the rows & columns & print the square of each element

# Print each row inside the list in this format

a = [[10, 20], [30, 40], [50, 60]]

# 10 20
# 30 40
# 50 60

for i in range(len(a)) :

  row = a[i] # ith row in 2D list

  for j in range(len(row)) :

    col = row[j] # jth col in ith row
    # print(a[i][j]) 
    print(col**2, end=' ')
  
  print()

100 400
900 1600
2500 3600

## Row wise Sum
![](https://scaler.com/topics/images/sum-in-python.webp)

Given a 2D Array, print the sum of each row separately.

In [39]:
a = [[10, 20], [30, 40], [50, 60]]

# 30
# 70
# 110

for i in range(len(a)) :

  row = a[i] # ith row in 2D list
  # print(sum(row))

  sum = 0

  for j in range(len(row)) :

    col = row[j] # jth col in ith row
    sum = sum + col
    # sum = sum + a[i][j]
    
  print(sum)

30
70
110


## Maximum of each row

In [44]:
a = [
    [10, 20],
    [30, 40],
    [50, 60],
]

# print( list(map(max, a)) )

for row in a :
  # print(max(row)) # Just like max there is min, sum, avg, count

  mx = float("-inf")
  for col in row :
    if col > mx :
      mx = col
  print(mx)

20
40
60

# Bonus Reading Material
- map() in Python - https://www.scaler.com/topics/map-function-in-python/
- What is Nested List in Python? - https://www.scaler.com/topics/nested-list-in-python/
- 2D Array in Python- https://www.scaler.com/topics/2d-array-in-python/
- Transpose of a Matrix in Python - https://www.scaler.com/topics/transpose-of-a-matrix-in-python/
- Sum() in Python - https://www.scaler.com/topics/sum-in-python/

# Doubts

In [51]:
A = [2, 0, 1]

B = [0] * len(A) # B = [0, 0, 0]

# ith value in B
# Should be index of i in A

for i in range(len(A)) :
  B[A[i]] = i

print(B)

[1, 2, 0]

In [52]:
b = [] # empty lsit
b.insert(3,2) # list.insert(index, value) # Gets added at index 0
b.insert(2,1) # Gets added at index 1
print(b) 

# should return [1,2] right but it is returning [2,1]

ls = [1, 2, 3]
ls[0] = -1
print(ls)

[2, 1]
[-1, 2, 3]

In [53]:
# Find 2nd max in list
ls = [1, 2, 3, 4, 4, 2, 7]
# Ans is 4

mx = max(ls)

# Find largest value in list that is not mx
mx2 = float("-inf")

for x in ls :
  if x != mx and x > mx2 :
    mx2 = x

print(mx2)

4

In [57]:
c =[[10,20],[30,40,67],[50,60,56,345],[70,80,11],[90]]

for i in range(len(c)):
  max=c[i][0]
  for j in range(len(c[i])):
    if c[i][j]>max:
      max=c[i][j]
  print(max)

20
67
345
80
90