# Strings
![](https://scaler.com/topics/images/characters-of-a-string-in-python-1024x483.webp)

In [ ]:
s = "Hello World!"

print(s, type(s))

Hello World! <class 'str'>

A sequence of characters

In [ ]:
s = 'Hey guys !'

print(s, type(s))

Hey guys ! <class 'str'>

In [ ]:
s = """Hey there
My name is Aarnav Jindal"""

print(s, type(s))

Hey there
My name is Aarnav Jindal <class 'str'>

### Multiline String
![](https://scaler.com/topics/images/python-multiline-string.webp)

We used multiline strings as docstrings

In [ ]:
s = """Hey there
This is a string with quotes \' \" \"\"\""""

print(s)

Hey there
This is a string with quotes ' " """

In [ ]:
s = '''Hey there
This is a multi-line quote with triple \''''

print(s)

Hey there
This is a multi-line quote with triple '

### Length
<img src="https://scaler.com/topics/images/length-of-an-array-in-c_thumbnail.webp" width="350px" />

In [ ]:
s = "Aarnav is my name"

print(len(s))

17

## Indexing

In [ ]:
s = "abcdefgh"

print(len(s), s[1], s[7])

8 b h

In [ ]:
print(s[-1], s[-7])

h b

In [ ]:
print(s[10], s[-10])

IndexError: ignored

#### Quiz 1
Which of the following is a valid string?  
a) "Rahul#'  
b) "@rahul"  
c) 'Tuna123"

#### Quiz 2
```py
print(100 == "100")
```

In [ ]:
print(100 == "100")

# 100 -> Integer
# "100" -> String

False

#### Quiz 3 
```py
l = ["sahil", "bansal"]

print(l[0][-1])
```

In [ ]:
l = ["sahil", "bansal"]

s = l[0] # s = "sahil"

ch = s[-1] # ch = 'l'

print(ch)

# print(l[0][-1])

# l[0] = "sahil"
# l[0][-1] = 'l'

l

### Iterating over a string

#### Question
Given a string, print its characters line by line. \
S = "INDIA" 

Output:
```
I
N
D
I
A
```

In [ ]:
S = "INDIA"

# iterate without indices
for ch in S :
  print(ch)

# iterate with indices
for i in range(len(S)) :
  print(s[i])

I
N
D
I
A
s
a
h
i
l

In [ ]:
# Print character of S separated by a ,
# S = "INDIA"
# Output = I,N,D,I,A

for ch in S :
  print(ch, end=',')

I,N,D,I,A,

## String Concatenation
![](https://scaler.com/topics/images/string-concatenation-in-python.webp)

In [ ]:
first = "Aarnav"
second = "Jindal"

name = first + " " + second
print(name)

Aarnav Jindal

In [ ]:
s = "Hello" * 5

print(s)

HelloHelloHelloHelloHello

### Stair Pattern

N =4
```
*
* *
* * *
* * * *
```

In [ ]:
n = 4

for i in range(1, n+1) :
  for j in range(1, i+1) :
    if j != i :
      print('*', end=' ')
    else:
      print('*')

*
* *
* * *
* * * *

In [ ]:
n = 4

for i in range(1, n+1) :
  print('* ' * i)

*
* *
* * *
* * * *

#### Quiz 4
What will be printed by the following code when it executes?

```py
city = "Phoenix"
print(len(city*3))
```

In [ ]:
city = "Phoenix"
print(len(city*3))

21

## String slicing

The exact same rules of list slicing applies to strings as well.

In [ ]:
s = "abcdef"
print(s[1:3])

bc

In [ ]:
print(s[4::-1])

edcba

In [ ]:
print(s[::-1])

fedcba

#### Quiz 5
What is the return value of the function call `mystery("abracadabra")`?  
  

```py
def mystery(s):
  i = len(s)//2
  a = s[:i]
  b = s[i:]
  return a+ b
```

In [ ]:
def mystery(s):
  i = len(s)//2 # len(s) -> 11 # 11//2 -> 5
  a = s[:i] # s[0:5] -> abrac
  b = s[i:] # s[5:len(s)] -> adabra
  return a+ b


mystery("abracadabra")

'abracadabra'

### Check Palindrome
Given a string, check if it is Palindromic

In [ ]:
# Palindrome -> A string which reads the same from front and back

In [ ]:
# radar -> Yes
# level -> Yes
# rahul -> No
# Both a and b

In [ ]:
def checkPalindrome(s) :
  return s == s[::-1]

print(checkPalindrome("malayalam"))
print(checkPalindrome("aarnav"))

True
False

## Working with ASCII Values
<img src="https://scaler.com/topics/images/ascii-values-in-c-thumbnail.webp" width="400px" />

In [ ]:
'a', '1', ' ', '$'

In [ ]:
ASCII -> Unique mapping between numbers and characters

'a' -> 97
'b' -> 98
...
'z' -> 122

'A' -> 65
'B' -> 66
....
'Z' -> 90

### ord()
![](https://scaler.com/topics/images/ord-in-python.webp)

In [47]:
print(ord('a'), ord('1'), ord('\t'))

97 49 9

### chr()
![](https://scaler.com/topics/images/chr-in-python.webp)

In [49]:
print(chr(65), chr(32), chr(49))

A   1

#### Given a list of integers, construct the string corresponding to it.
Input = [97, 65, 98, 68, 73] \
Output = "aAbDI"

In [51]:
s = ''
l = [97, 65, 98, 68, 73]

for x in l :
  s = s + chr(x)

print(s)

aAbDI

### Given a string, count the number of capital characters in it.
s = "Hello World"

Ans = 2

In [53]:
# s = "Hello World"
s = "ABCabcDeFGHi"

cnt = 0

for x in s :
  if 'A' <= x <= 'Z' :
    cnt = cnt + 1

print(cnt)

7

### Changing cases
![](https://scaler.com/topics/images/upper-in-python-featured-image.webp)
- upper()
- lower()
- title()
- isupper()
- islower()

In [54]:
s = "hello world"
print(s.islower())

# isLower() -> Checks if all alphabets in string are lowercase

True

In [55]:
s = "Hello"
print(s.islower())

False

In [56]:
s = "HELLO"
print(s.isupper())

# isUpper() -> Checks if all alphabets in string are uppercase

True

In [57]:
s = "HeLLO"
print(s.isupper())

False

#### Quiz 7
What is the return value of the function call `mystery("abracadabra")`?  
  

```py
def mystery(s):
  i = len(s)//2
  a = s[:i]
  b = s[i:]
  return a[0].isupper()
```

In [58]:
def mystery(s):
  i = len(s)//2
  a = s[:i] # abrac
  b = s[i:] # adabra
  return a[0].isupper()

mystery("abracadabra")

False

In [59]:
# Change it to uppercase
s = "hello world"

print(s.upper())

# upper() -> converts all alphabets to uppercase

HELLO WORLD

In [60]:
# Convert to lowercase
s = 'HELLO WORLD'

print(s.lower())

# lower() -> converts all alphabets to lowercase

hello world

#### Quiz
What is the return value of the function call `mystery("abracadabra")`?  
```py
def mystery(s):
  i = len(s)//2
  a = s[:i]
  b = s[i:]
  return a.upper() + b.lower()
```

In [61]:
def mystery(s):
  i = len(s)//2
  a = s[:i]
  b = s[i:]
  return a.upper() + b.lower()

print(mystery("abracadabra"))

ABRACadabra

In [62]:
name = "AARnav jINdal"
s = name.title()
print(s)

# title() -> First letter of each word is uppercase, rest are lowercase

Aarnav Jindal

### String Formatting
![](https://scaler.com/topics/images/fstring_python.webp)

In [64]:
appleCount = 50
orangeCount = 100
guavaCount = 21

# I have 50 apples, 100 oranges and 21 guavas

In [66]:


s = "I have " + str(appleCount) + " apples, " + str(orangeCount) + " oranges and " + str(guavaCount) + "guavas"
print(s)

I have 50 apples, 100 oranges and 21guavas

#### 2 ways to string formatting
.format()

f-string

In [68]:
# .format()

appleCount = 50
orangeCount = 10
guavaCount = 26

# I have 5 apples, 10 oranges and 2 guavas

s = "I have {} apples, {} organges and {} guavas".format(appleCount, orangeCount, guavaCount)
print(s)

I have 50 apples, 10 organges and 26 guavas

#### f-string
It only works for Python 3.5 or above

In [69]:
s = f"I have {appleCount} apples, {orangeCount} oranges and {guavaCount} guavas"
print(s)

I have 50 apples, 10 oranges and 26 guavas

### Quiz
name = 'Emma Watson'<br>
age = 32<bR>
print("Hey my name is {}, and my age is {}.".format(age))

In [70]:
name = 'Emma Watson'
age = 32
print("Hey my name is {}, and my age is {}.".format(age))

IndexError: ignored

# Bonus Reading Material
- Strings in Python - https://www.scaler.com/topics/python/strings-in-python/
- What is String in Python? - https://www.scaler.com/topics/what-is-string-in-python/
- Python Multiline String - https://www.scaler.com/topics/python-multiline-string/
- str() in Python - https://www.scaler.com/topics/str-in-python/
- String Concatenation in Python - https://www.scaler.com/topics/string-concatenation-in-python/
- String Slicing in Python - https://www.scaler.com/topics/python/string-slicing-in-python/
- What are Mutable Data Types in Python? - https://www.scaler.com/topics/mutable-data-typesg-in-python/
- Mutable and Immutable in Python - https://www.scaler.com/topics/mutable-and-immutable-in-python/
- String Comparison in Python - https://www.scaler.com/topics/string-comparison-in-python/
- chr() in Python - https://www.scaler.com/topics/chr-in-python/
- ord in Python - https://www.scaler.com/topics/ord-in-python/
- Difference Between UNICODE and ASCII - https://www.scaler.com/topics/cpp/difference-between-unicode-and-ascii/
- Join in Python - https://www.scaler.com/topics/join-in-python/
- Convert List to String in Python - https://www.scaler.com/topics/convert-list-to-string-in-python/
- String Methods Python - https://www.scaler.com/topics/python/string-methods-python/
- upper() in Python - https://www.scaler.com/topics/upper-in-python/
- https://www.scaler.com/topics/title-in-python/
- isupper() in Python - https://www.scaler.com/topics/python-string-isupper-method/
- isalnum() in Python - https://www.scaler.com/topics/isalnum-in-python/
- isnumeric() Python Method - https://www.scaler.com/topics/isnumeric-python/
- String reverse in Python - https://www.scaler.com/topics/reverse-string-in-python/
- String Formatting in Python - https://www.scaler.com/topics/python/string-formatting-in-python/
- F String in Python - https://www.scaler.com/topics/f-string-in-python/

In [ ]:
computer can store only 0/1 ( binary )

numbers ( decimal ) -> binary
binary -> ( decimal ) numbers

How does computer store string ?
ASCII -> mapping from integer to character
"abc" -> [97, 98, 99] -> binary
binary -> [97, 98, 99] -> "abc"