# Strings 2

## find()
![](https://scaler.com/topics/images/find-in-python.webp)

In [1]:
s = "Harry Potter and the Deathly Hallows"
# Find the index of 'and'

idx = s.find('and')
print(idx)

13

In [2]:
# In case the substring is not present, it returns -1
idx2 = s.find('goblet')

print(idx2)

-1

In [4]:
# Find with just 1 argument, returns position of first occurence only

s = "Harry Potter and the Deathly Hallows"

idx3 = s.find('H')
print(idx3)

0

If you want 2nd or the third occurence - Try it out on your own.
Hint - Refer to the articles

## count()
![](https://scaler.com/topics/images/count-in-python.webp)

In [5]:
s = "Harry Potter and the Deathly Hallows"
c = s.count('H')

print(c)

2

In [6]:
c2 = s.count('l')
print(c2)

3

In [7]:
c3 = s.count('Chamber')
print(c3)

0

### in operator

In [ ]:
s = "Harry Potter and the Deathly Hallows"

In [10]:
print('and' in s)

print('And' in s)

True
False

In [11]:
print("Harry Potter" in s)

True

#### Quiz
```py
print("Ra" in "rahul")
```

In [13]:
print('Ra' in 'rahul jango')

False

## Immutable Nature
![](https://scaler.com/topics/images/python-datatypes.webp)

In [16]:
# s = "hello"
# print(s[1])
# s[1] = 'i'

ls = ['h', 'e', 'l', 'l', 'o']
ls[1] = 'i'
print(ls)

['h', 'i', 'l', 'l', 'o']

In [17]:
# index -> location inside a iterable
# memory location -> location inside program memory

a = 5
print(id(a))

11122720

In [18]:
a = a + 1
print(id(a))

11122752

In [19]:
a = a * 10
print(id(a))

11124480

In [20]:
ls = ['h', 'e', 'l', 'l', 'o']
print(id(ls))

ls[1] = 'i'
print(id(ls))

139919642342176
139919642342176

## replace()
![](https://scaler.com/topics/images/replace-a-character-in-a-string-python.webp)

In [22]:
s = "hello world"

# Change to "hello everyone"

s = s.replace('world', 'everyone')
print(s)

hello everyone

In [24]:
s = 'hello gladolys'

t = s.replace('l', 'L')
print(s)
print(t)

hello gladolys
heLLo gLadoLys

#### Quiz 2
```py
a = "Hello"  
b = a  
a = "Yello"  
```
What is the value of `b` now?

In [30]:
a = "Hello"  
b = a  
a = "Yello"  
print(id(a), id(b), b)

139919768378352 139919642160496 Hello

#### Quiz 3
Python - String Nature
Predict the output
```py
a = "batman"
b = a
b.replace("b", "c")
print(a) 
```

In [34]:
a = "batman"
b = a
b.replace("b", "c")
print(a, b)

batman batman

In [37]:
s = "Harry Potter and the Deathly Hallows"
t = s.replace('H', 'G', 1)

print(t)

Garry Potter and the Deathly Hallows

## String to list

In [38]:
s = 'Hello'

l = list(s)
print(s, l)

Hello ['H', 'e', 'l', 'l', 'o']

In [39]:
s = 'Hello'
l = s.split()

print(l)

['Hello']

In [ ]:
# Convert string to list -> split & list

## List to String
![](https://scaler.com/topics/images/convert-list-to-string-in-python.webp)

In [43]:
# Given a string, return a new string containing all characters separated by _
s = 'hello'

# s = 'h_e_l_l_o'

# Approach 1 -> Use for and + ( Complex )
# Approach 2 -> split and join

l = list(s) # l = ['h','e','l','l','o']
sj = '_'.join(l)
print(sj, type(sj))

# .join() takes one argument = iterable
# This iterable must be an iterable of strings only

h_e_l_l_o <class 'str'>

In [46]:
s = "hello how are you doing"
l = s.split()
print(l)

sj = '--'.join(l)
print(sj)

['hello', 'how', 'are', 'you', 'doing']
hello--how--are--you--doing

#### Quiz 4
```py
n = ['string1', 'string2']  
print("Satish".join(n))
```

In [47]:
n = ['string1', 'string2']  
print("Satish".join(n))

string1Satishstring2

## Reverse words in a string
![](https://scaler.com/topics/images/reverse-words-in-a-string-python.webp)

In [49]:
s = "Python is awesome"
# s becomes "awesome is Python"

# We can split to get a list, reverse using slicing, join back to get string

l = s.split() # l = ['Python', 'is', 'awesome']
# l = l[::-1] # l = ['awesome', 'is', 'Python']
l.reverse() # reverses the list l
s = ' '.join(l)

print(s)

awesome is Python

#### Quiz
What is the word-by-word reverse of the sentence   \
"Are you as clever as I am"

Answer: \
am I as clever as you Are

Correct answer = d

### Convert a string to all uppercase characters without using any inbuilt functions

Input:
```
s = "hELLo"
```

Output:
```
s = "HELLO"
```

In [55]:
def toUppercase(s) :
  # convert string to list of characters
  l = list(s)

  # iterate over the list
  for i in range(len(l)) :

    # check if character is lower case
    if 'a' <= l[i] <= 'z' :

      # if true, convert character to upper case
      # a-z : 97-122 A-Z : 65-90
      # Difference between ASCII of lower and upper case is 32
      l[i] = chr( ord( l[i] ) - 32 ) 
  
  # join the list to get string
  s = ''.join(l)
  return s


print(toUppercase('Harry Potter'))
print(toUppercase('Larry Goiter 49784@#$@'))

HARRY POTTER
LARRY GOITER 49784@#$@

# Bonus Reading Material
- What are Mutable Data Types in Python? - https://www.scaler.com/topics/mutable-data-typesg-in-python/
- Mutable and Immutable in Python - https://www.scaler.com/topics/mutable-and-immutable-in-python/
- Replace in Python - https://www.scaler.com/topics/replace-in-python/
- Replace a Character in a String Python - https://www.scaler.com/topics/replace-a-character-in-a-string-python/
- Join in Python - https://www.scaler.com/topics/join-in-python/
- Convert List to String in Python - https://www.scaler.com/topics/convert-list-to-string-in-python/
- Convert List to String in Python - https://www.scaler.com/topics/convert-list-to-string-python/
- Python String find() Method - https://www.scaler.com/topics/find-function-in-python/
- Find in Python - https://www.scaler.com/topics/find-in-python/
- Count in Python - https://www.scaler.com/topics/count-in-python/
- startswith() in Python - https://www.scaler.com/topics/startswith-in-python/
- capitalize() in Python - https://www.scaler.com/topics/capitalize-in-python/
- swapcase() in Python - https://www.scaler.com/topics/swapcase-in-python/
- partition() in Python - https://www.scaler.com/topics/partition-in-python/
- Strip Function in Python - https://www.scaler.com/topics/strip-function-in-python/
- Lexicographical order in Python - https://www.scaler.com/topics/lexicographical-order-in-python/
- Sort a String in Python - https://www.scaler.com/topics/sort-a-string-in-python/
- Remove Whitespace From String - https://www.scaler.com/topics/remove-whitespace-from-string/
- Reverse Words in a String Python - https://www.scaler.com/topics/reverse-words-in-a-string-python/
- Reverse Words in a String - https://www.scaler.com/topics/reverse-words-in-a-string/
- Substring in Python - https://www.scaler.com/topics/substring-in-python/
- Remove Punctuation from String Python - https://www.scaler.com/topics/remove-punctuation-from-string-python/

# Doubts

In [56]:
s = "aman"
l = s.split("a")
print(l)

['', 'm', 'n']

In [57]:
l = [1, 2, 0]

# ans = [2, 0, 1]

ans = [0] * len(l)
for i in range(len(l)) :
  ans[l[i]] = i

# 1 -> ans[1] = 0
# 2 -> ans[2] = 1
# 0 -> ans[0] = 2

print(ans)

[2, 0, 1]

In [ ]:
class Solution:

  def solve(self, A):

    for i in range(len(A)):
      for j in range(len(A[0])):
        if(i == j):
          if A[i][j] != 1:
            return 0
        if(i != j):
          if A[i][j] != 0:
            return 0
    
    return 1

In [ ]:
mat = []

for i in range(rows) :
  row = []
  for j in range(cols) :
    val = int(input())
    row.append(val)
  mat.append(row)