# Tuples
![](https://scaler.com/topics/images/tuples-in-python.webp)

- Tuples are used to hold together multiple objects. Think of them as similar to lists, but without the extensive functionality that the list class gives you.
- One major feature of tuples is that they are **immutable** like strings i.e. you cannot modify tuples.
- Tuples are defined by specifying items separated by commas within an optional pair of parentheses.
- Tuples are usually used in cases where a statement or a user-defined function can safely assume that the collection of values i.e. the tuple of values used will **not change**.

In [1]:
# ISRO
planets = [
    "Mercury",
    "Venus",
    "Earth",
    "Mars",
    "Jupiter",
    "Saturn",
    "Uranus",
    "Neptune",
    "Pluto"
]

type(planets)

list

In [2]:
# Intern at ISRO

planets[2] = "Aarnav's planet"
print(planets)

['Mercury', 'Venus', "Aarnav's planet", 'Mars', 'Jupiter', 'Saturn', 'Uranus', 'Neptune', 'Pluto']

In [ ]:
# Tuple is a list which can not be changed
# Tuple is an immutable list

In [3]:
t = (1, 4, None, True, "Hello", -8.34)
print(t, type(t))

(1, 4, None, True, 'Hello', -8.34) <class 'tuple'>

In [4]:
t[0] = 10

TypeError: ignored

In [5]:
print(t[0])
print(t[-1])
print(t[3])

1
-8.34
True

In [8]:
t = (9, 2, 3, 4, 6)
for x in t :
  print(x, end=' ')

9 2 3 4 6

In [9]:
len(t)

5

### Important Tuple methods
- index()
- count()
- slicing

In [10]:
t = (6, 7, 6, 1, 3)
print(t.index(6))

0

In [11]:
t = (6, 7, 6, 1, 3)
print(t.count(6))

2

In [12]:
# Returns a new tuple
print(t[2:])

(6, 1, 3)

In [13]:
print(t[::-1])

(3, 1, 6, 7, 6)

In [15]:
l = list(t)
print(l, type(l))

t = tuple(l)
print(t, type(t))

[6, 7, 6, 1, 3] <class 'list'>
(6, 7, 6, 1, 3) <class 'tuple'>

### How to create a tuple
1. Using round brackets
2. Using tuple()
3. Using comma separated values

In [19]:
t = (6, 7, 6, 1, 3)
print(t, type(t))

(6, 7, 6, 1, 3) <class 'tuple'>

In [ ]:
# tuple() -> converts an iterable into a tuple

In [16]:
# Empty tuple

t = tuple()
print(t, type(t))

() <class 'tuple'>

In [18]:
# Empty tuple
t = ()
print(t, type(t))

() <class 'tuple'>

In [17]:
l = [2,6,1,8,9,3]
t = tuple(l)
print(t, type(t))

(2, 6, 1, 8, 9, 3) <class 'tuple'>

In [20]:
t = 1, 3, "Hello", None, True
print(t, type(t))

(1, 3, 'Hello', None, True) <class 'tuple'>

#### Quiz 1
```py
t = ("Sahil")
type(t)
```

In [21]:
x = (9)
print(x, type(x))

9 <class 'int'>

In [22]:
t = ("Sahil")
type(t)

str

In [28]:
t1 = tuple([9])
t2 = tuple(["Hello"])
print(type(t1), type(t2))

# Anything with () brackets with 0 or >= 2 items is considered a tuple

<class 'tuple'> <class 'tuple'>

#### Quiz 2
What is the output of the following?

```py
print(type((1,2,3)))
```

In [29]:
print(type((1,2,3)))

<class 'tuple'>

#### Quiz 3
```py
T1 = (1) 
T2 = (3, 4) 
T1 += 5
print(T1)
```

In [30]:
T1 = (1) # integer
T2 = (3, 4) # tuple
T1 += 5
print(T1)

6

#### Quiz 4
```py
t=tuple(range(1, 10, 2))
print(t)
```

In [32]:
t = tuple(range(1, 10, 2))
print(t)

(1, 3, 5, 7, 9)

#### Quiz 5
What is the result of the following expression?

```py
tuple('hello world')
```

In [33]:
print(list('hello world'))

['h', 'e', 'l', 'l', 'o', ' ', 'w', 'o', 'r', 'l', 'd']

In [34]:
print(tuple('hello world'))

('h', 'e', 'l', 'l', 'o', ' ', 'w', 'o', 'r', 'l', 'd')

#### Quiz 6
```py
t = (3, 4, 6, 7, 3)
print(t[::2])
```

In [35]:
t = (3, 4, 6, 7, 3)
print(t[::2])

(3, 6, 3)

In [ ]:
# Destructuring

In [39]:
t = (1, 2, 3, 4)
a, b, c, d = t
print(a, end=' ')
print(b, end=' ')
print(c, end=' ')
print(d, end=' ')

1 2 3 4

In [49]:
# swapping variables
a = 5000
b = 10000

a, b = b, a # b,a is a tuple

In [50]:
a, b, c = 1, 2, 3
print(a, b, c)

1 2 3

In [51]:
a, b, c = 1, 2

ValueError: ignored

In [52]:
a, b, c = 1, 2, 3, 4

ValueError: ignored

In [55]:
students = (
    (1, "Thor"),
    (2, "Spiderman"),
    (3, "Captain America"),
    (4, "Hulk"),
)

In [58]:
# Print all student's role numbers with their names

for st in students :
  print(f"Roll no {st[0]} name is {st[1]}")

Roll no 1 name is Thor
Roll no 2 name is Spiderman
Roll no 3 name is Captain America
Roll no 4 name is Hulk

In [60]:
for roll, name in students :
  print(f"Roll no {roll} name is {name}")

# roll, name = (1, 'Thor')

Roll no 1 name is Thor
Roll no 2 name is Spiderman
Roll no 3 name is Captain America
Roll no 4 name is Hulk
1 Thor

## Bonus Reading Material for Tuples
- Data Structures in Python - https://www.scaler.com/topics/data-structures-in-python/
- Tuples in Python - https://www.scaler.com/topics/python/tuples-in-python/
- What is the Difference Between List and Tuple in Python? - https://www.scaler.com/topics/difference-between-list-and-tuple-in-python/
- Convert List to Tuple in Python - https://www.scaler.com/topics/convert-list-to-tuple-python/
- WtfPython: Mutating the immutable! - https://github.com/satwikkansal/wtfpython#-mutating-the-immutable
- WtfPython: Needles in a Haystack - https://github.com/satwikkansal/wtfpython#-needles-in-a-haystack-

# Sets
![](https://scaler.com/topics/images/set-in-python.webp)

In [ ]:
# set -> unordered collection of unique items
# hashing -> intermediate / advanced

In [61]:
s = {1, 7, 8, -100, 'hello', 9.7}
print(s, type(s))

{1, 'hello', 7, 8, 9.7, -100} <class 'set'>

In [62]:
# To create an empty dict

s = {}
print(s, type(s))

{} <class 'dict'>

In [63]:
# To create an empty set

s = set()
print(s, type(s))

set() <class 'set'>

Sets can only store unique values

In [64]:
s = {1,7,8,8,8,7,1,4,7,1,1,4,8,4}
print(s)

{8, 1, 4, 7}

In [65]:
# there is no order in items stored

s[0] # since there is no sequence, hence no indexes

TypeError: ignored

In [66]:
print(len(s))

4

Important methods
- add()
- remove()
- in

In [69]:
s = {10, 20, 30, 40, -50, -30}
print(s)

{-30, 40, 10, -50, 20, 30}

In [70]:
s.add(100)
print(s)

{-30, 100, 40, 10, -50, 20, 30}

In [71]:
s.add(20)
print(s)

{-30, 100, 40, 10, -50, 20, 30}

In [72]:
s.remove(100)
print(s)

{-30, 40, 10, -50, 20, 30}

In [73]:
s.remove(100)
print(s)

KeyError: ignored

In [77]:
s.discard(100)

In [75]:
print(s)

{-30, 40, 10, -50, 20, 30}

In [74]:
-30 in s

True

In [76]:
100 in s

False

In [ ]:
# Iteration

In [78]:
for x in s :
  print(x, end=' ')

-30 40 10 -50 20 30

### TV Series recommendation
You ask 2 friends for a TV Series recommendation

In [80]:
A = {
    "Breaking Bad",
    "Better Call Saul",
    "Dark"
}

B = {
    "Sherlock",
    "Dark",
    "The Office"
}

In [81]:
print(A|B)
print(A.union(B), B.union(A))

{'The Office', 'Sherlock', 'Dark', 'Breaking Bad', 'Better Call Saul'}

In [82]:
print(A&B)
print(A.intersection(B), B.instersection(A))

{'Dark'}

In [83]:
print(A-B)

{'Breaking Bad', 'Better Call Saul'}

In [84]:
print(B-A)

{'The Office', 'Sherlock'}

In [85]:
print(A^B)

{'Breaking Bad', 'The Office', 'Sherlock', 'Better Call Saul'}

### Quiz 7
What is the output of the following?
```py
a = {1,2,3}
b = {3,4,5}
print(a-b)
print(a.union(b))
print(a.intersection(b))
```

In [87]:
a = {1,2,3}
b = {3,4,5}
print(a-b)
print(a.union(b))
print(a.intersection(b))

{1, 2}
{1, 2, 3, 4, 5}
{3}

#### Quiz 8
What is the value of x in the code snippet below?
```py
set1 = {1, 2, 3, 4, 5, 6}
set2 = {2, 4, 5, 6, 7}
x = set1 | set2
```

In [86]:
set1 = {1, 2, 3, 4, 5, 6}
set2 = {2, 4, 5, 6, 7}
x = set1 | set2
print(x)

{1, 2, 3, 4, 5, 6, 7}

### Count unique
Given an array, count unique elements in it.

In [89]:
def countUnique(ls):
    # s = set(ls)
    # return len(s)
    return len(set(ls))

In [90]:
countUnique([5, 6, 5, 2, 3]) # 4

4

## Bonus Reading Material for Sets
- set() in Python - https://www.scaler.com/topics/set-in-python/
- Sets in Python - https://www.scaler.com/topics/python/sets-in-python/
- Set to List Python - https://www.scaler.com/topics/set-to-list-python/
- Convert List to Set Python - https://www.scaler.com/topics/convert-list-to-set-python/
- frozenset() in Python - https://www.scaler.com/topics/frozenset-in-python/
- Python Set difference() - https://www.scaler.com/topics/python-set-difference/
- union() in Python - https://www.scaler.com/topics/union-in-python/
- intersection() in Python - https://www.scaler.com/topics/intersection-in-python/
- symmetric_difference() Python - https://www.scaler.com/topics/symmetric-difference-python/

# Doubts

In [95]:
a = tuple('c')
print(a, type(a[0]))

TypeError: ignored

In [97]:
students = [
[1, "Thor"],
[2, "Spiderman"],
[3, "Captain America"],
[4, "Hulk"],
] 

# print(f"Roll no {students[0][0]} name is {students[0][1]}")

for item in students :
  print(item[0], item[1])

[1, 'Thor']
[2, 'Spiderman']
[3, 'Captain America']
[4, 'Hulk']

In [103]:
row   0s  inc   dec   0s
1     4   [5,5] -      4
2     3   [4,5] [4,4]  3
3     2   [3,5] [4,3]  2
4     1   [2,5] [4,2]  1
5     0   [1,5] [4,1]  0

0s -> n-row
inc-s -> n+1-row
inc-e -> n
dec-s -> n-1
dec-e -> n+1-row
0s -> n-row

5
0 0 0 0 5 0 0 0 0
0 0 0 4 5 5 0 0 0
0 0 3 4 4 5 5 0 0
0 2 3 3 4 4 5 5 0
1 2 2 3 3 4 4 5 5