# Dictionaries
![](https://scaler.com/topics/images/dict-in-python.webp)

- They are used to store data in key-value pair format
- The keys are always unique
- The values may or may not be unique
- Dictionaries use **hashing** to store the data

In [1]:
# d = {}
d = dict()

print(d, type(d))

{} <class 'dict'>

In [2]:
menu = {
    "Dal Makhani": 400,
    "Dosa": 300,
    "Pizza": 500,
}

print(menu, type(menu))

{'Dal Makhani': 400, 'Dosa': 300, 'Pizza': 500} <class 'dict'>

In [8]:
d = {
    1 : "Hello",
    "YOLO" : True,
    2.3 : 234,
    'l' : ["Hello", None, False]
}

print(d, type(d))

{1: 'Hello', 'YOLO': True, 2.3: 234, 'l': ['Hello', None, False]} <class 'dict'>

### Reading values
- square brackets
- get()

In [ ]:
# Dictionaries have unique keys
# Which means each key can occur only once

In [9]:
menu = {
    "Dal Makhani": 400,
    "Dosa": 300,
    "Pizza": 500,
    90: 5.2
}

In [11]:
print(menu["Pizza"])
print(menu[90])

500
5.2

In [12]:
# What if key is not present ?
print(menu["pizza"])

KeyError: ignored

In [14]:
menu = {
    "Dal Makhani": 400,
    "Dosa": 300,
    "Pizza": 500,
}

# If key is present, it will return its value
# If key is not present, it will return the default value = None

print(menu.get("Pizza"))
print(menu.get("pizza"))

500
None

### Challenge
If a dish is in the menu, show its price. Otherwise, chef will charge extra for it. Show the price as 1000.

In [16]:
# Get function takes a second argument, the default value

# If key is present, returns value corresponding to key
# If key is not prsent, returns default value
print(menu.get("Paneer", 1000))

1000

In [ ]:
menu = {
    "Dal Makhani": 400,
    "Dosa": 300,
    "Pizza": 500,
    "Paneer": 300
}

In [18]:
print(menu["Pizza"])
menu[300] # Will not return Dosa and Paneer

# You can use key to get value
# You can't use value to get key

500

## Updation and Addition
- Updating/Adding one entry - using square brackets
- Updating/Adding multiple entries - update()

In [19]:
avenger = {
    "name": "Thor",
    "age": 1000,
    "weapons": ['Mjolnir', 'Stormbreaker']
}

In [20]:
# Update the name to "Thor Odinson"

avenger["name"] = "Thor Odinson"
print(avenger)

{'name': 'Thor Odinson', 'age': 1000, 'weapons': ['Mjolnir', 'Stormbreaker']}

In [21]:
# Add a new entry
# girlfriend -> Jane Foster

avenger["gf"] = "Jane Foster"
print(avenger)

{'name': 'Thor Odinson', 'age': 1000, 'weapons': ['Mjolnir', 'Stormbreaker'], 'gf': 'Jane Foster'}

In [22]:
avenger["weapons"].append("Thunder")
print(avenger)

{'name': 'Thor Odinson', 'age': 1000, 'weapons': ['Mjolnir', 'Stormbreaker', 'Thunder'], 'gf': 'Jane Foster'}

In [ ]:
avenger = {
    "name": "Thor",
    "age": 1000
}

In [23]:
avenger.update({
  "age" : 1500,
  "weapons" : ["Mjolnir", "Thunder"],
  "gf" : "Jane Foster"
})

print(avenger)

{'name': 'Thor Odinson', 'age': 1500, 'weapons': ['Mjolnir', 'Thunder'], 'gf': 'Jane Foster'}

#### Quiz 1
What does the following Python code output?
```py
words = {
"is": 2,
"hello": 3,
"the": 4
}
this_count = words["this"]

print(this_count)
```

In [24]:
words = {
"is": 2,
"hello": 3,
"the": 4
}
this_count = words["this"]

print(this_count)

KeyError: ignored

#### Quiz 2
What is the output of the following code?
```py
d = {"a": 1, "b": 2, "c": 3}
d['d'] = 55

print(d['d'])
```

In [25]:
d = {"a": 1, "b": 2, "c": 3}
d['d'] = 55

print(d['d'])

55

### Are Dictionaries ordered ? 
Yes and No.
- In Python 3.7 and above -> Ordered Dictionaries (It will remember the order of insertion)
- In Python 3.6 or below -> Unordered Dictionaries

In [29]:
# There are no indices in dictionaries

menu = {
    "Dal": 100,
    "Panner": 200,
    "Pizza": 300
}
print(menu)

{'Dal': 100, 'Panner': 200, 'Pizza': 300}

In [ ]:
# Break : 10:10pm

#### Quiz 3
What is the output of the following code?
```py
d = {"a": 1, "b": 2, "c": 3}
print(d.get("a", 0))
print(d.get("b", 0))
print(d.get("c", 0))
print(d.get("d", 0))
```

In [30]:
d = {"a": 1, "b": 2, "c": 3}
print(d.get("a", 0))
print(d.get("b", 0))
print(d.get("c", 0))
print(d.get("d", 0))

1
2
3
0

## Removing entries
- pop()
- del

In [36]:
menu = {
    "Dal Makhani": 400,
    "Dosa": 300,
    "Pizza": 200,
}

In [32]:
# Your Italian Chef is leaving the restaurant. How to remove Pizza from your menu ?

In [37]:
menu_price = menu.pop("Pizza")
print(menu_price, menu)

200 {'Dal Makhani': 400, 'Dosa': 300}

In [38]:
menu.pop("Pasta")

KeyError: ignored

In [41]:
menu = {
    "Dal Makhani": 400,
    "Dosa": 300,
    "Pizza": 200,
}

# del menu['Pizza']
# print(menu)

In [42]:
del menu['Pasta']

KeyError: ignored

## keys() and values()

In [43]:
avenger = {
    'name': 'Thor',
    'age': 1100,
    'weapon': 'Mjolnir',
    'gf': 'Jane Foster',
    'best friend': 'Heimdall'
}

In [46]:
keys = avenger.keys()
print(keys, type(keys))

dict_keys(['name', 'age', 'weapon', 'gf', 'best friend']) <class 'dict_keys'>

In [47]:
for key in keys :
  print(key, avenger[key])

name Thor
age 1100
weapon Mjolnir
gf Jane Foster
best friend Heimdall

In [49]:
values = avenger.values()
print(values, type(values))

# for value in values :
#   print(value)

dict_values(['Thor', 1100, 'Mjolnir', 'Jane Foster', 'Heimdall']) <class 'dict_values'>

In [51]:
# By default, for in loop gets keys in dictionary

for k in avenger :
  print(k, '->', avenger[k])

name -> Thor
age -> 1100
weapon -> Mjolnir
gf -> Jane Foster
best friend -> Heimdall

#### Quiz 4
```py
a = {1: 1, 2: 4, 3: 9}

for x in a:
  print(a[x], end=' ')
```

In [52]:
a = {1: 1, 2: 4, 3: 9}

for x in a:
  print(a[x], end=' ')

1 4 9

In [53]:
avenger = {
    'name': 'Thor',
    'age': 1100,
    'weapon': 'Mjolnir',
    'gf': 'Jane Foster',
    'best friend': 'Heimdall'
}

In [54]:
print(avenger.items())
# This gives you the key-value pairs

dict_items([('name', 'Thor'), ('age', 1100), ('weapon', 'Mjolnir'), ('gf', 'Jane Foster'), ('best friend', 'Heimdall')])

In [55]:
for k, v in avenger.items() :
  print(k, '->', v)

name -> Thor
age -> 1100
weapon -> Mjolnir
gf -> Jane Foster
best friend -> Heimdall

### How to check if a key is present in a dictionary ?

In [56]:
menu = {
    "Dal Makhani": 500,
    "Dosa": 300,
    "Pizza": 400,
    "Pasta": 350
}

In [57]:
"Pizza" in menu

True

In [58]:
"Paneer" in menu

False

1

#### Frequency Map
Given a list of numbers, print the frequencies of all unique values in it (in any order)


Input:
```
[5, 5, 2, 5, 2, 6, 1, 3]
```

Output:
```
5 -> 3
2 -> 2
6 -> 1
1 -> 1
3 -> 1
(Order does not matter)
```

In [66]:
a = [5, 5, 2, 5, 2, 6, 1, 3, 6, 6, 3, 1, 1, 1, 1, 1, 1, 1,1 ,1, 1]

d = {}

for k in a :

  if k in d :
    # If key is present in dictionary
    # Find its value and add one to it
    # Store the new value in the dictionary
    d[k] = d[k] + 1
  
  else :
    # If key is not present in dictionary
    # Add it to dictionary
    # Frequency will be 1
    d[k] = 1

  print(d)

a = [5, 5, 2, 5, 2, 6, 1, 3, 6, 6, 3, 1, 1, 1, 1, 1, 1, 1,1 ,1, 1]

{5: 1}
{5: 2}
{5: 2, 2: 1}
{5: 3, 2: 1}
{5: 3, 2: 2}
{5: 3, 2: 2, 6: 1}
{5: 3, 2: 2, 6: 1, 1: 1}
{5: 3, 2: 2, 6: 1, 1: 1, 3: 1}
{5: 3, 2: 2, 6: 2, 1: 1, 3: 1}
{5: 3, 2: 2, 6: 3, 1: 1, 3: 1}
{5: 3, 2: 2, 6: 3, 1: 1, 3: 2}
{5: 3, 2: 2, 6: 3, 1: 2, 3: 2}
{5: 3, 2: 2, 6: 3, 1: 3, 3: 2}
{5: 3, 2: 2, 6: 3, 1: 4, 3: 2}
{5: 3, 2: 2, 6: 3, 1: 5, 3: 2}
{5: 3, 2: 2, 6: 3, 1: 6, 3: 2}
{5: 3, 2: 2, 6: 3, 1: 7, 3: 2}
{5: 3, 2: 2, 6: 3, 1: 8, 3: 2}
{5: 3, 2: 2, 6: 3, 1: 9, 3: 2}
{5: 3, 2: 2, 6: 3, 1: 10, 3: 2}
{5: 3, 2: 2, 6: 3, 1: 11, 3: 2}

# Bonus Reading Material
- Dictionary in Python - https://www.scaler.com/topics/python/dictionary-in-python/
- dict() in Python - https://www.scaler.com/topics/dict-in-python/
- What is Dictionary in Python? - https://www.scaler.com/topics/what-is-dictionary-in-python/
- Python Dictionary values() - https://www.scaler.com/topics/python-dictionary-values/
- Python Dictionary Keys() Method - https://www.scaler.com/topics/python-dictionary-keys/
- What is Ordered Dictionary Python in Python? - https://www.scaler.com/topics/ordered-dictionary-python/
- What is Nested Dictionary in Python? - https://www.scaler.com/topics/nested-dictionary-in-python/
- Sort Dictionary by Value in Python - https://www.scaler.com/topics/sort-dictionary-by-value-in-python/
- fromkeys() in Python - https://www.scaler.com/topics/fromkeys-in-python/
- How to Convert a List to Dictionary in Python? - https://www.scaler.com/topics/list-to-dictionary-python/
- List of Dictionaries in Python - https://www.scaler.com/topics/list-of-dictionaries-in-python/
- What is the Difference Between List and Dictionary in Python? - https://www.scaler.com/topics/difference-between-list-and-dictionary-in-python/
- Differences between List, Tuple, Set and Dictionary in Python - https://www.scaler.com/topics/python/difference-between-dictionary-list-tuple-and-set-in-python/

# Doubts

In [88]:
sets = {3, 4, 5}
sets.update( {
    1: 5, 
    2: 6, 
    3: 7
} ) # iterable
print(sets)

{1, 2, 3, 4, 5}