In [ ]:
# for loop, while loop
# nested loop
# Iteration protocol

# Lists
# - Shallow v/s Deep copy
# - Append v/s Extend

In [2]:
# Print first 10 positive integers
# Print 1-10

for i in range(1, 11) :
  print(i, end=' ')

1 2 3 4 5 6 7 8 9 10

In [3]:
# Print all characters of a string

name = "Aarnav"

for ch in name :
  print(ch)

A
a
r
n
a
v

In [4]:
# Take input N and print from N to 1

n = int(input())
while n >= 1 :
  print(n, end=' ')
  n = n - 1

10
10 9 8 7 6 5 4 3 2 1

In [5]:
# Reverse a number

n = int(input())

reverse_n = 0

while n > 0 :
  d = n % 10
  reverse_n = reverse_n * 10 + d
  n = n // 10

print(reverse_n)

1024
4201

In [8]:
n = input()
reverse_n = int(n[::-1])
print(reverse_n)

100
1

In [9]:
# How to solve questions with T test-cases

# Take input T, no of test-cases
T = int(input())

# Write the code which works for one test-cases
# n = input()
# reverse_n = int(n[::-1])
# print(reverse_n)

# Put a loop around the code which works for one test-cases
# Make the loop run T times

def solve():
  n = input()
  reverse_n = int(n[::-1])
  print(reverse_n)

t = 1
# Run a loop T times
while t <= T :
  # Paste the code which works one time
  solve()
  # Increase the t value
  t = t + 1

3
4201
1024
837
738
100
1
989
989

In [ ]:
T = int(input())

for t in range(T) :
  solve()

In [13]:
i = 1
while True:
    if i % 3 == 0:
        break
    print(i, end=' ')
    i += 1

# while condition :
#   pass
print()


i = 1
while i <= 10 :
  i = i + 1
  if i % 2 == 1 :
    continue
  print(i, end=' ')

1 2
2 4 6 8 10

In [22]:
# Multi-line code

x = 100 + 20 / 3\
- 19 % 10

print(x)

97.66666666666667

In [24]:
s = "This is Aarnav Jindal. "\
+ "My age is 24 years. "\
+ "I love coding."

print(s)

This is Aarnav Jindal. My age is 24 years. I love coding.

In [26]:
y = 100 \
+ 20 \

print(y)

120

In [32]:
# Nested loops

n = 5

for i in range(n) :
  for j in range(i+1) :
    print('*', end=' ')
  print()

for i in range(n) :
  print('*', end=' ')
  print(' ' * (n-2), end='')
  print('*')

*
* *
* * *
* * * *
* * * * *
*    *
*    *
*    *
*    *
*    *

In [40]:
# range

print(list(range(5)))
print(list(range(1, 5)))
print(list(range(1, 7, 2)))

print(list(range(5, -1))) # [start, end, jump=1]
# >=5 and < -1 => []
print(list(range(5, -1, -1)))

[0, 1, 2, 3, 4]
[1, 2, 3, 4]
[1, 3, 5]
[]
[5, 4, 3, 2, 1, 0]

In [ ]:
# List

In [42]:
ls = [1, 2, 6, 3]
print(ls, type(ls))

ls = list()
print(ls, type(ls))
# ls = list(iterable)

[1, 2, 6, 3] <class 'list'>
[] <class 'list'>

In [55]:
marks = [30, 43, 28, 50, 12]

# Basic ops
print(len(marks))
print(marks[2])
marks[2] += 5
print(marks)

# Adding element
marks.append(38)
print(marks)
marks_2 = [19, 32]
# Incorrect
# marks.append(marks_2) 
# print(marks)
# Correct
# marks.extend(marks_2)
# print(marks)
# marks = marks + marks_2
# print(marks)

# Indexing
print(marks[2])
print(marks[-1])
print(marks[-4])

5
28
[30, 43, 33, 50, 12]
[30, 43, 33, 50, 12, 38]
33
38
33

In [ ]:
# Removing element
# val = marks.pop()
# print(val, marks)
# val = marks.pop(1)
# print(val, marks)
# del marks[1]
# print(marks)

In [ ]:
# Break - 10:10pm

In [66]:
# Slicing

marks = [90, 95, 100, 30, 50, 21, 31, 41, 61]

print(marks[:2])
print(marks[1:3])
print(marks[7:])
print(marks[:])
print(marks[3:7:2])
print(marks[:4:2])
print(marks[3::2])
print(marks[::2])

marks = [90, 95, 100, 30, 50, 21, 31, 41, 61]
print(marks[2:0:-1])
print(marks[3::-1])
print(marks[:4:-2])
print(marks[::-1])

[90, 95]
[95, 100]
[41, 61]
[90, 95, 100, 30, 50, 21, 31, 41, 61]
[30, 21]
[90, 100]
[30, 21, 41]
[90, 100, 50, 31, 61]
[100, 95]
[30, 100, 95, 90]
[61, 31]
[61, 41, 31, 21, 50, 30, 100, 95, 90]

In [73]:
# Enumerate

marks = [10, 28, 43, 25, 33]

# i = 1
# for val in marks :
#   print(f"{i}th marks are {val}")
#   i = i + 1
  # ith marks are val

for i, val in enumerate(marks) :
  print(f"{i+1}th marks are {val}")

1th marks are 10
2th marks are 28
3th marks are 43
4th marks are 25
5th marks are 33

In [84]:
# Iteration protocol

# Applicable for iterables
# iter, next -> Functions on each iterable

marks = [10, 28, 43, 25, 33]

# Creates an iterator object and puts pointer on 1st value
it = iter(marks)

print(it, type(it))

<list_iterator object at 0x7f39e644b390> <class 'list_iterator'>

In [82]:
# Returns current value and moves pointer to next value
print(next(it))

10

In [87]:
# Shallow copy v/s Deep copy

In [88]:
# Shallow copy / Aliasing
# Different variable names for the same object

a = [10, 20, 30]
b = a

print(id(a), id(b))

b[1] = 40
print(a, b)

139886652804944 139886652804944
[10, 40, 30] [10, 40, 30]

In [91]:
# Deep copy 
# A new object copy made from an object

a = [10, 20, 30]
b = a[:]

print(id(a), id(b))

b[1] = 40
print(a, b)

139886652865744 139886653095280
[10, 20, 30] [10, 40, 30]

In [ ]:
# Doubts

In [92]:
y = 100 \
# + 20 \
+ 20 
x = 200
# ????????
print(y)

100

In [ ]:
def simple_int(time,pa,ir):
  ans = 0
  intrest = (int(time/365) * pa * ir) /100
  ans = pa + intrest
  return round(ans,2)

In [103]:
marks = [1, 2, 4]

for i, val in enumerate(marks) :
  print(i, val)

0 1
1 2
2 4

In [ ]:
if (a==b __1__ a==c) and b==c:
  print("equilateral")
elif a==b __2__ b==c or c==a:
  print("isosceles")
else:
  print('scalene')

3 4 5
3 3 4
3 3 3

1 = or, 2 = or
1 = and, 2 = or

1 = and, 2 = and
1 = or, 2 = and