In [ ]:
# List comprehension
# Pass-by reference
# Tuple
# Dictionary
# Set

In [ ]:
# List Comprehension

In [1]:
# Given a string name, create a list of all the characters of name

name = "Aarnav"
# Output = ['A', 'a', 'r', 'n', 'a', 'v']

print(list(name))

['A', 'a', 'r', 'n', 'a', 'v']

In [2]:
ls = []

for ch in name :
  ls.append(ch)

print(ls)

['A', 'a', 'r', 'n', 'a', 'v']

In [3]:
ls = [ ch for ch in name ]
print(ls)

['A', 'a', 'r', 'n', 'a', 'v']

In [4]:
ls = [num for num in range(5)]
print(ls)

[0, 1, 2, 3, 4]

In [5]:
ls = [num for num in range(1, 15, 2)]
print(ls)

[1, 3, 5, 7, 9, 11, 13]

In [ ]:
# [ expression for item in iterable ]

In [6]:
ls = [num**2 for num in range(1, 10, 2)]
print(ls)

[1, 9, 25, 49, 81]

In [ ]:
# [ expression for item in iterable condition ]

In [7]:
ls = [ num**2 for num in range(10) if num%2==0 ]
print(ls)

[0, 4, 16, 36, 64]

In [8]:
ls = [ num for num in range(100) if num%3==0 and num%5==0 ]
print(ls)

[0, 15, 30, 45, 60, 75, 90]

In [9]:
ls = [ 'even' if num%2==0 else 'odd' for num in range(10) ]
print(ls)

['even', 'odd', 'even', 'odd', 'even', 'odd', 'even', 'odd', 'even', 'odd']

In [14]:
ls = [ 'neg' if num < 0 else 'non-neg' for num in range(-5, 5)]
print(ls)

['neg', 'neg', 'neg', 'neg', 'neg', 'non-neg', 'non-neg', 'non-neg', 'non-neg', 'non-neg']

In [16]:
ls = [ [i, i*2] for i in range(5) ]
print(ls)

[[0, 0], [1, 2], [2, 4], [3, 6], [4, 8]]

In [12]:
# Quiz 1

lst = [i*2 for i in range(4)]
print(lst)

[0, 2, 4, 6]

In [ ]:
# Pass-by reference / Pass-by value

# Pass-by reference [ Mutables ] [ Shallow copy is sent ]
# Passing a variable to function where the 
# variables although different reference the same object

# Pass-by value [ Immutables ] [ Deep copy is sent ]
# Passing a variable to function where the 
# variables are different are refer to different objects

In [17]:
def access(lst, num):
  lst.append(num)
  num -=4
  return num

lst = [1,2,3]
num = 4
print(access(lst, num))
print(lst, num)

0
[1, 2, 3, 4] 4

In [ ]:
# Break - 10:10pm

In [ ]:
# Array v/s List

# Array -> Collection of homogeneous items
arr = [1, 2, 3]

# List -> Collection of heterogeneous items
ls = [1, '2', None]

In [22]:
# Global variable

In [23]:
x = 10

def fun() :
  x = 20
  print(x)

print(x)
fun()
print(x)

10
20
10

In [24]:
x = 10

def fun() :
  global x
  x = 20
  print(x)

print(x)
fun()
print(x)

10
20
20

In [25]:
x = 10

def fun() :
  print(x)

print(x)
fun()
print(x)

10
10
10

In [27]:
# Tuples
# Immutable collection of objects
# You can not add, delete, modify

t = (1, 2, 3)
print(type(t), t)
print(t[1])

<class 'tuple'> (1, 2, 3)
2

In [28]:
t = t * 2
print(t)

(1, 2, 3, 1, 2, 3)

In [30]:
print(t.count(3))
print(t.index(2))

2
1

In [35]:
t = ("Satish") * 3
print(type(t), t)

<class 'str'> SatishSatishSatish

In [33]:
t = ("Satish", ) * 3
print(type(t), t)

<class 'tuple'> ('Satish', 'Satish', 'Satish')

In [36]:
# Packing and Unpacking

t = 1, 2, 3
print(type(t), t)

<class 'tuple'> (1, 2, 3)

In [37]:
a, b, c = t
print(a)
print(b)
print(c)

1
2
3

In [39]:
a, b = 3, 5
print(a, b)

a, b = b, a # (5, 3)
print(a, b)

3 5
5 3

In [40]:
# Dictionary -> Unordered collection of Key, Value pairs
# Keys are unique
# Values can be duplicates

d = {}
print(d, type(d))

{} <class 'dict'>

In [46]:
ipl = {'csk': 'Dhoni', 'MI': 'Rohit', 'KKR': 'Iyer'}

print(ipl['csk'])
ipl['MI'] = 'Mukesh'
print(ipl['MI'])
# print(ipl['mi']) # -> error

ipl['RCB'] = 'Virat'
print(ipl)

Dhoni
Mukesh
{'csk': 'Dhoni', 'MI': 'Mukesh', 'KKR': 'Iyer', 'RCB': 'Virat'}

In [45]:
ipl.update({
    'dc': 'Aarnav',
    'MI': 'Rohit'
})

print(ipl)

{'csk': 'Dhoni', 'MI': 'Rohit', 'KKR': 'Iyer', 'dc': 'Aarnav'}

In [47]:
print(ipl.keys())
print(ipl.values())
print(ipl.items())

dict_keys(['csk', 'MI', 'KKR', 'RCB'])
dict_values(['Dhoni', 'Mukesh', 'Iyer', 'Virat'])
dict_items([('csk', 'Dhoni'), ('MI', 'Mukesh'), ('KKR', 'Iyer'), ('RCB', 'Virat')])

In [49]:
for k in ipl.keys() :
  print(k, ipl[k])

for k, v in ipl.items():
  print(k, v)

csk Dhoni
MI Mukesh
KKR Iyer
RCB Virat
csk Dhoni
MI Mukesh
KKR Iyer
RCB Virat

In [51]:
d = {
  'a' : 5,
  'b' : 5,
  'c' : 10
}

print(d)

ls = []

for k, v in d.items():
  if v == 5 :
    ls.append(k)

print(ls)

{'a': 5, 'b': 5, 'c': 10}
['a', 'b']

In [ ]:
# Set
# Unordered collection of unique items

In [53]:
s = { 1 }
print(type(s))

<class 'set'>

In [56]:
s = set()
print(type(s))

<class 'set'>

In [58]:
s = {1, 1, 1, 3, 3, 3, 2, 2, 2}
print(s)

{1, 2, 3}

In [60]:
# s[0] -> Because there is no order in a set

TypeError: ignored

In [59]:
for val in s :
  print(val)

1
2
3

In [61]:
2 in s

True

In [62]:
5 in s

False

In [63]:
print(s)

{1, 2, 3}

In [64]:
s.remove(2)
print(s)

{1, 3}

In [66]:
s.add(2)
print(s)

{1, 2, 3}

In [70]:
s1 = {1, 2, 3}
s2 = {3, 4, 5}

print(s1.union(s2)) # |
print(s1.intersection(s2)) # &
print(s1.difference(s2)) # -
print(s2.difference(s1)) # -
print(s1.symmetric_difference(s2)) # ^

{1, 2, 3, 4, 5}
{3}
{1, 2}
{4, 5}
{1, 2, 4, 5}

In [ ]:
# Doubts

In [73]:
matrix = [[1,2],[2,3],[3,4]] 

transpose = [matrix[j][i] for j in range(len(matrix))] 
for i in range(len(matrix(a[0])))]

TypeError: ignored

In [78]:
import math

a = 64
lg2 = math.log2(a)
if lg2 == round(lg2) :
  print("Yes")
else :
  print("No")

2^0 <= 1 <= N <= 10^18 <= 2^64

Yes

In [85]:
a = 5000
b = a * 1

print(id(a), id(b))

139728712118736 139728712118736

In [87]:
ls = [1, 2, 3, 1, 4, 4, 3, 2]

ans = []

for val in ls :
  if val not in ans :
    ans.append(val)

print(ans)

[1, 2, 3, 4]

In [ ]:
ls = [1, 2, 3, 1, 4, 4, 3, 2]

sum = 0

for i in range(len(ls)) :
  if sum == ls[i] :
    return i
  sum = sum + ls[i]

In [91]:
ls = [[1, 2], [1, -3]]

print(min(ls))

[1, -3]

In [92]:
matrix = [[1,2],[2,3],[3,4]]
transpose = [ [matrix[j][i] for j in range(len(matrix))] for i in range(len(matrix[0]))]
print(transpose)

[
[(0, 0), (1, 0), (2, 0)] -> i = column 0
[(0, 1), (1, 1), (2, 1)] -> i = column 1
]

[[1, 2, 3], [2, 3, 4]]