In [ ]:
# TC - 1 
for i in range(n) :
  print(i, end=' ')

# TC - O(n)

In [ ]:
# TC - 2
for i in range(a, b) :
  print(i, end=' ')

# TC - O(b-a)
# B = 1000, A = 100, B-A = 900

In [ ]:
# TC - 3

sum = 0 
for i in range(n) :
  sum = sum + i
print(sum)

# TC - O(n)

In [ ]:
# TC - 4

for i in range(n) :
  print(i, end=' ')
for i in range(m) :
  print(i, end=' ')

# TC - O(n+m)

In [ ]:
# TC - 4

i = 1
while i * i <= n :
  print(i)
  i = i + 1

# TC - O(square_root(n))

n = 20
i = 1, print(1)
i = 2, print(2)
i = 3, print(3)
i = 4, print(4)
i = 5, Loop stops

i^2 <= N
Take sq root on both side
i <= square_root(N)

In [ ]:
# TC - 5

i = n
while i >= 1 :
  print(i)
  i = i // 2

# TC - O(log2(n))

n = 20
i = 20, print(20)
i = 10, print(10)
i = 5, print(5)
i = 2, print(2)
i = 1, print(1)
i = 0, Loop stops

Series -> N/1 N/2 N/4 N/8 .... 1

Generic term -> N/2^k

Loop runs K times such that N/2^k = 1
k = log2(N)

In [ ]:
# TC - 6

for i in range(0, n, 2) :
  print(i, end=' ')

# TC - O(n)

n = 10
i = 0, 2, 4, 6, 8
Code will run N/2 times

In [ ]:
# TC - 7

for i in range(n) :
  for j in range(m) :
    print(i, end=' ')

# TC - O(n*m)

In [ ]:
# TC - 8

for i in range(n) :
  for j in range(i+1) :
    print(i, end=' ')

# TC - O(n*2)

i = 0, j = [0, 0] -> 1
i = 1, j = [0, 1] -> 2
i = 2, j = [0, 2] -> 3
.
.
i = n-1, j = [0, n-1] -> n
sum = 1 + 2 + 3 ..... + n-1 + n
sum = (n*(n+1))/2 -> n^2 / 2 + n / 2

In [ ]:
# TC - 9

for i in range(n) :
  j = 1
  while j <= n :
    print(i, j, end=' ')
    j = j * 2

# TC - O(nlogn)

Series for j -> 1 2 4 .. 2^X
2^X <= N
X <= log2N

i = 0, j -> log2n
i = 1, j -> log2n
..
i = n-1, j -> log2n
total run time is nlog2n

In [ ]:
# TC - 10

for i in range(2**n) :
  print(i)

# TC - O(2^n)

In [ ]:
# TC - 11

for i in range(n) :
  for j in range(2**i)
    print(i, j, end=' ')

# TC - O(2^n)

i = 0, j = [0, 0] -> 1
i = 1, j = [0, 1] -> 2
i = 2, j = [0, 3] -> 4
....
i = n-1, j = [0, 2^(n-1) -1] -> 2^(n-1)

Sum = 1 + 2 + 4 .... + 2^(n-1)
Sum = (2^n - 1 ) / 1 = 2 ^ n

In [ ]:
# TC - 12

i = n
while i >= 1 :
  for j in range(i) :
    print(j, i)
  i = i / 2

# TC - O(n)

i = n, j = [0, n-1] -> n
i = n/2, j = [0, n/2-1] -> n/2
i = n/4, j = [0, n/4-1] -> n/4
...
i = 1, j = [0, 0] -> 1

How many values will i take ? log2n+1

Sum = 1 + 2 + ... + n/4 + n/2 + n

Sum of GP = a*(r^n-1)/(r-1)
a = first value
r = common factor
n = number of items

Sum = 1*(2^(log2n+1) - 1)/(2-1)

Sum = 2 ^ ( log2(n) + log2(2) ) - 1

Sum = 2 ^ log2(2*n) - 1

Sum = 2 * n - 1

Prop1 => log2(y) + log2(z) = log2(y*z)
Prop2 => log2(2) = 1
Prop3 => 2 ^ log2(y) -> y

In [ ]:
# Break - 10:10pm

In [ ]:
# Time Complexity of Sorting Algorithms
# Algorithm   Worst   Best    Avg
# Bubble      n^2     n^2     n^2
# Optimised   n^2     n       n^2
# Bubble
# Insertion   n^2     n       n^2
# Selection   n^2     n^2     n^2
# Merge       nlogn   nlogn   nlogn

In [ ]:
# Recursion

In [3]:
# Fibonacci
# Series items are 0 1 1 2 3 5 8 ...
# f(0) = 0
# f(1) = 1
# f(n) = f(n-1) + f(n-2), n>=2

# Print the Nth fibonacci number
def fibonacci(n) :
  if n == 0 :
    return 0

  if n == 1 :
    return 1

  return fibonacci(n-1) + fibonacci(n-2)

print(fibonacci(4))
print(fibonacci(6))

# Time Complexity
f(n) = f(n-1) + f(n-2)
Assume : f(n-1) ~ f(n-2)

f(n) = 2*f(n-1)
f(n-1) = 2*f(n-2)
f(n) = 4*f(n-2)

f(n) = (2^k)f(n-k)
f(0) = C
n-k = 0
n = k

f(n) = (2^n)*f(0)
f(n) = (2^n)*C

3
8

In [5]:
# Merge two sorted lists recursively

# ls1 = [2, 5, 8]
# ls2 = [0, 4, 10]

# merged_list = [0, 2, 4, 5, 8, 10]

# Base case
# When any 1 list is empty, return the other list
# ls1 = []
# ls2 = [2, 4]

# Recursive case
# ls1 = [2, 5, 8]
# ls2 = [0, 4, 10]
# 1. Pick the smallest element from both the lists
# Smallest = 0
# 2. Remove it from the correspoding list
# ls1 = [2, 5, 8]
# ls2 = [4, 10]
# 3. Send the remaining lists to merge again
# 4. Add the smallest element to the front of returned result
# Add 0 to [2, 4, 5, 8, 10]
# 5. Return the ans
# [0, 2, 4, 5, 8, 10]


def merge_lists(ls1, ls2) :
  
  # Base case
  if len(ls1) == 0 :
    return ls2

  if len(ls2) == 0 :
    return ls1
  
  # Recursive case
  smallest = None
  if ls1[0] < ls2[0] :
    smallest = ls1[0]
    ls1.pop(0)
  else :
    smallest = ls2[0]
    ls2.pop(0)
  
  ans = merge_lists(ls1, ls2)
  ans.insert(0, smallest)
  return ans

print(merge_lists([2, 5, 8], [0, 4, 10]))

[0, 2, 4, 5, 8, 10]

In [11]:
# Print all subsequences of a list
# Subsequence - Any smaller part of the list with preserved order of elements

ls = [1, 2, 3, 4]
# []
# [1] [2] [3] [4]
# [1, 2] [1, 3] [1, 4] [2, 3] [2, 4] [3, 4]
# [1, 2, 3] [1, 2, 4] [1, 3, 4] [2, 3, 4]
# [1, 2, 3, 4]

# ls -> input list
# i -> index of current element
# current -> current subsequence

def subseq(ls, i, current) :

  # Base case
  if i == len(ls) :
    print(current)
    return 

  # Recursive case
  # Exclude current element at index i
  subseq(ls, i+1, current)
  # Include current element at index i
  subseq(ls, i+1, current + [ls[i]])

subseq(ls, 0, [])

# Time Complexity
# f(n) = f(n-1) + f(n-1)
# TC(n) = 2*TC(n-1) + K
# TC(n-1) = 2*TC(n-2) + K
# TC(n) = 4*TC(n-2) + 3K
# Case : TC(0) = O(1)
# Generic expression - 2^c*TC(n-c) + (2^c-1)*k
# TC(n) = 2^n*TC(0) + (2^n-1)*k
# TC(n) = 2^n*O(1) + (2^n-1)*k
# TC(n) = O(2^n)

[]
[4]
[3]
[3, 4]
[2]
[2, 4]
[2, 3]
[2, 3, 4]
[1]
[1, 4]
[1, 3]
[1, 3, 4]
[1, 2]
[1, 2, 4]
[1, 2, 3]
[1, 2, 3, 4]

In [ ]:
[1, 2, 3] 0 [] -> E
[1, 2, 3] 1 [] -> E
[1, 2, 3] 2 [] -> E
[1, 2, 3] 3 print([])
[1, 2, 3] 2 [3] -> I
[1, 2, 3] 3 print([3])
[1, 2, 3] 1 [2] -> I
[1, 2, 3] 2 [2] -> E
[1, 2, 3] 3 print([2])
[1, 2, 3] 2 [2, 3] -> I
[1, 2, 3] 3 print([2, 3])