In [ ]:
# Dunders - Magic methods

In [ ]:
class Car:
    def __init__(self, name, milaege):
        self.name = name
        self.milaege = milaege

    def __str__(self):
      return f"name -> {self.name}, mileage -> {self.milaege}"

    def __add__(self, other):
        return self.name + other.name

    def __gt__(self, other):
        return True if self.milaege > other.milaege else False

In [ ]:
c1 = Car("Maruti", 100)
c2 = Car("Alto", 200)

In [ ]:
print(c1)

name -> Maruti, mileage -> 100

In [ ]:
print(23 + 25)

48

In [ ]:
print("Aarnav" + "Jindal")

AarnavJindal

In [ ]:
print(c1 + c2)

# c1.__add(c2)__
# Car.__add(c1, c2)__

MarutiAlto

In [ ]:
print( c1 > c2 )

False

In [ ]:
dir(c1)

['__add__',
 '__class__',
 '__delattr__',
 '__dict__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__le__',
 '__lt__',
 '__module__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 '__weakref__',
 'milaege',
 'name']

### Private Variables

In [36]:
class BankAccount:
    def __init__(self, opening_balance):
        self.balance = opening_balance
        
    def withdraw(self, amount):
        if amount >= amount :
          self.balance -= amount
        
    def deposit(self, amount):
        self.balance += amount

In [37]:
ba = BankAccount(200)

In [38]:
ba.deposit(100)
print(ba.balance)

ba.withdraw(50)
print(ba.balance)

300
250

In [39]:
ba.balance = 391470139470113904
print(ba.balance)

391470139470113904

In [ ]:
# Public variable - Attribute accessible via object
# Private variable - Attribute accessible only within class functions

In [43]:
class BankAccount:
    def __init__(self, opening_balance):
        self.__balance = opening_balance

    def withdraw(self, amount):
        self.__balance -= amount
        
    def deposit(self, amount):
        self.__balance += amount

    def get_balance(self) :
      return self.__balance

# _ClassName__PrivateVariable
# _BankAccount__balance

In [44]:
ba = BankAccount(200)

In [42]:
print(ba.__balance)

AttributeError: ignored

In [45]:
print(ba.get_balance())

200

### Weakness of Python

In [46]:
ba.__balance = 500
print(ba.__balance)

500

In [47]:
dir(ba)

['_BankAccount__balance',
 '__balance',
 '__class__',
 '__delattr__',
 '__dict__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__le__',
 '__lt__',
 '__module__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 '__weakref__',
 'deposit',
 'get_balance',
 'withdraw']

In [48]:
print(ba.get_balance())
ba._BankAccount__balance = 300
print(ba.get_balance())

200
300

In [ ]:
# Break - 10:05pm

### Inheritance

In [52]:
class SchoolMember:
    def __init__(self, name):
        self.name = name

class Student(SchoolMember):
    def __init__(self, name, grade):
          self.grade = grade
          # SchoolMember.__init__(self, name)
          super().__init__(name)

class Staff(SchoolMember):
    def __init__(self, name, salary):
          self.salary = salary
          super().__init__(name)

class Teacher(Staff):
    def __init__(self, name, salary, subject):
          self.subject = subject
          super().__init__(name, salary)

class Service(Staff):
    def __init__(self, name, salary, equipment):
          self.equipment = equipment
          super().__init__(name, salary)

In [54]:
t1 = Teacher("Aarnav", 10, "DSML")
print(t1.name, t1.salary, t1.subject)

Aarnav 10 DSML

### Multiple Inheritance

In [ ]:
class A :
  def __init__(self, a) :
    self.a = a

class B :
  def __init__(self, b) :
    self.b = b

class C(A,B):
  def __init__(self, a, b, c) :
    self.c = c
    # super().__init__(a) # Super() is replaced by first parent
    # How to initialise multiple parents using super() ?
    A.__init__(a)
    B.__init__(b)

### Diamond Inheritance

In [67]:
class A:
    x = 5

class B(A):
    pass

class C(A):
    x = 10
    
class D(B, C):
    pass

In [68]:
d = D()

In [65]:
print(d.x)

10

In [69]:
# Method Resolution Order

D.__mro__

(__main__.D, __main__.C, __main__.B, __main__.A, object)

In [ ]:
print(x)