In [2]:
# Quiz 1 : Print range(11)

print(range(11))
print(list(range(11)))

range(0, 11)
[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [3]:
# Quiz 2 : Print range(7, 8)

# 7 -> start
# 8 -> end
# range(7, 8) => [7, 8) => [7]
print(list(range(7, 8)))

[7]

In [4]:
# Quiz 3 : Print range(8, 8)

# 8 -> start
# 8 -> end
# range(8, 8) => [8, 8) => []
print(list(range(8, 8)))

[]

In [6]:
# Quiz 7 : Print range(5, 1)

# 5 -> start
# 1 -> end
# range(5, 1) => [5, 1) => []

print(list(range(5, 1)))

# start = 5
# end = 1
# inc = -1
# inc = 1

[]

In [12]:
# For loops

# range(10) -> 0 to 9

for i in range(10) :
  print(i)

0
1
2
3
4
5
6
7
8
9

In [13]:
# for items in a collection :
#   do something

for i in range(10) :
  print(i, end = ' ')

0 1 2 3 4 5 6 7 8 9

In [14]:
# n = 5
# range(1, n) -> range(1, 5) -> 1 to 4

n = int(input())

for i in range(1, n) :
  print(i)

5
1
2
3
4

In [15]:
# n = 5
# range(1, n+1) -> range(1, 6) -> 1 to 5

n = int(input())

for i in range(1, n+1) :
  print(i)

5
1
2
3
4
5

In [17]:
# start : -1
# end : 10
# step : 2
# range(-1, 10, 2) => -1, 1, 3, 5, 7, 9

for i in range(-1, 10, 2) :
  print(i, end=' ')

-1 1 3 5 7 9

In [20]:
# Write code to print squares of numbers from 1 to N
# Take N as input from user

# Example
# N = 4
# Output : 1, 4, 9, 16

# range(1, 5) -> [1, 2, 3, 4]

n = int(input())

for i in range(1, n+1) :
  print(i**2, end=' ')

6
1 4 9 16 25 36

In [22]:
# Write code to print all multiples of 4 till N

# Example : N = 50
# Output : 4 8 12 16 20 24 28 32 36 40 44 48

n = int(input())

for i in range(4, n+1, 4) :
  print(i, end=' ')

50
4 8 12 16 20 24 28 32 36 40 44 48

In [26]:
# Print values from N to 1
# Take N from the user

# Example : 
# N = 5
# Output : 5 4 3 2 1

# range(5, 1, -1) -> 5 4 3 2
# range(5, 0, -1) -> 5 4 3 2 1

n = int(input())
for aarnav in range(n, 0, -1) :
  print(aarnav, end=' ')

10
10 9 8 7 6 5 4 3 2 1

In [27]:
# print range(7, 1, -1)

# print from 7 to 2

print(list(range(7, 1, -1)))

[7, 6, 5, 4, 3, 2]

In [29]:
# Print sum of numbers from 1 to N
# Example
# N = 5
# Output = 1+2+3+4+5 = 15

n = int(input())

sum = 0
for i in range(1, n+1) :
  sum = sum + i
print(sum)

N = 5
# RHS is evaluated first
# sum   i   sum = sum + i
# 0     1   sum = ( 0 + 1 ) => sum = 1
# 1     2   sum = ( 1 + 2 ) => sum = 3
# 3     3   sum = ( 3 + 3 ) => sum = 6
# 6     4   sum = ( 6 + 4 ) => sum = 10
# 10    5   sum = ( 10 + 5 ) => sum = 15

5
15

In [30]:
# Print sum of even numbers from 1 to N
# Example
# N = 7
# Output : 2+4+6 = 12
# 2 4 6 8 ... N

n = int(input())

sum = 0
for i in range(2, n+1, 2) :
  sum = sum + i
print(sum)

10
30