In [3]:
# pass

n = int(input())

if n == 10 :
  # do something
  print("N is 10")

20

In [4]:
x = 5
if x % 2 == 0:
  pass
  print(x ** 3)
else:
  pass
  print(x ** 2)

# ans is 25

25

In [5]:
# sep in print

print("Hello", "World", "How", "are", "you", 8, 9.3456, None, True)

Hello World How are you 8 9.3456 None True

In [8]:
# separator to change what is printed in between values

print("Hello", "World", "Good", "evening", sep=' 100 ')

Hello 100 World 100 Good 100 evening

In [7]:
for i in range(3):
    print("i", i, sep='=')

i=0
i=1
i=2

In [9]:
# end in print

print("Hello!")
print("My name is Aarnav")

Hello!
My name is Aarnav

In [12]:
print("Hello!", end = ' ')
print("My name is Aarnav")

Hello!

My name is Aarnav

In [13]:
# sep and end in print

print("Hello", "World", sep=',', end='+')
print("Foo", sep='./') # default value of end is new line
print("Bar", end=' 123')

# Hello,World+Foo
# Bar 123

Hello,World+Foo
Bar 123

In [14]:
for i in range(2, 5):
    print("i", i, end=' ', sep='=')

# range(2, 5) = [2, 3, 4]
# i=2 i=3 i=4

i=2 i=3 i=4

In [ ]:
# Factors

# An integer X is a factor of integer Y if Y % X == 0 ( Y is a multiple of X )

Y = 24
X = 1, 2, 3, 4, 6, 8, 12, 24

Y = 48
X = 1, 2, 3, 4, 6, 8, 12, 16, 24, 48

Y % X -> will be 0 for the above cases

In [ ]:
# Smallest factor of any positive integer N
1

# Biggest factor of any positive integer N
N

# Range of all factors of N
1 to N -> range(1, N+1)

In [16]:
# Print all factors of N

N = int(input())
for i in range(1, N+1) :
  if N % i == 0 :
    print(i, end = ', ')

24
1, 2, 3, 4, 6, 8, 12, 24,

In [20]:
# Break - 10:10pm

In [24]:
# Print count of factors of N

N = int(input())

cnt = 0

for i in range(1, N+1) :
  if N % i == 0 :
    cnt = cnt + 1

print("N has", cnt, "factors")

12
N has 6 factors

In [25]:
# Print sum of factors of N

N = int(input())

sum = 0

for i in range(1, N+1) :
  if N % i == 0 :
    sum = sum + i

print("Sum of factors of N is", sum)

12
Sum of factors of N is 28

In [ ]:
# Prime numbers

# A number N is a prime number if it has factors 1 and itself -> Wrong
N = 1 (1, 1)
# Fact that 1 is not a prime number

# A number N which has exactly 2 factors -> Correct
N = 1 (1, 1)
# By this definition N is not a prime number

In [28]:
# Given a number N in the input. 
# Print prime if it is a "prime". 

N = int(input())

cnt = 0

for i in range(1, N+1) :
  if N % i == 0 :
    cnt = cnt + 1

if cnt == 2 :
  print("prime")
else :
  print("not prime")

1
not prime

In [ ]:
# 2 is the smallest prime number
# 2 is the only even prime number

In [31]:
# break

for i in range(1, 10) :
  print(i, end=' ')
  if i == 5 :
    break # breaks or stops or destroys the loop

print("Hello")

1 2 3 4 5 Hello

In [32]:
for i in range(1, 10):
  if i == 5:
    break
  print(i, end=' ')

1 2 3 4

In [35]:
# continue

for i in range(10):
  print(i, end=' ')

print()

for i in range(10):
  if i == 5 :
    continue
  print(i, end=' ')

0 1 2 3 4 5 6 7 8 9
0 1 2 3 4 6 7 8 9

In [36]:
for i in range(0,10):
  if i%3==0:
    continue
  print(i, end=' ')

# range(0, 10) -> 0 to 9
# i : 0 1 2 3 4 5 6 7 8 9

# i   i%3==0  print
# 0   True
# 1   False   1
# 2   False   2
# 3   True
# 4   False   4
# 5   False   5
# 6   True
# 7   False   7
# 8   False   8
# 9   True

1 2 4 5 7 8

In [40]:
# Random Game

# Design a game to generate and print random numbers from 1 to 10.

# You need to keep on printing till you get a 5
# Skip printing multiples of 4

import random

for i in range(5):
    r = random.randint(1, 10)
    print(r, end=' ')

9 6 8 2 4

In [47]:
while True :

  # Generate a random number
  r = random.randint(1, 10)

  # Skip printing r if it is a multiple of 4
  if r % 4 == 0 :
    continue
  
  print(r, end=' ')

  # Stop printing when you see 5
  if r == 5 :
    break

1 6 10 6 9 2 2 5

In [50]:
n = int(input())

for i in range(n) :
  print('*', end='')

8
********

In [51]:
import random

while True:
  r=random.randint(1,10)
  if r%4==0:
    pass

  print(r,end=' ')
  
  if r==5:
    break

7 9 9 7 7 6 2 7 7 4 2 7 4 8 4 8 8 7 5