<a href="https://colab.research.google.com/github/Shubhadads/DSML-begginer-classes/blob/main/FP_Map%2CLambda%2CFilter%2CReduce%2Czip_assignment.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#Q1
#Fill in the blank space to get palindromic strings present in the list using the lambda function:
#arr = ["php", "w3r", "python", "aaa", "java"]
#result  = _________

In [ ]:
arr = ["php", "w3r", "python", "aaa", "java"]
list( filter( lambda x: (x =="".join( reversed(x))), arr))

['php', 'aaa']

In [ ]:
'''
Q2. salaries and job

character backgroundcharacter
Stuck somewhere?
Ask for help from a TA and get it resolved.
Get help from TA.
Fill in the _______ to get the required output (mentioned in the Code snippet).

column_names = ['name', 'salary', 'job']
db_rows = [('Alice', 180000, 'data scientist'),
           ('Bob', 99000, 'data engineer'),
           ('Frank', 87000, 'data analyst')]

db = [dict(zip(__________)) for row in db_rows]
print(db)

Required Output: [{'name': 'Alice', 'salary': 180000, 'job': 'data scientist'}, 
{'name': 'Bob', 'salary': 99000, 'job': 'data engineer'}, 
{'name': 'Frank', 'salary': 87000, 'job': 'data analyst'}]
'''

"\nQ2. salaries and job\n\ncharacter backgroundcharacter\nStuck somewhere?\nAsk for help from a TA and get it resolved.\nGet help from TA.\nFill in the _______ to get the required output (mentioned in the Code snippet).\n\ncolumn_names = ['name', 'salary', 'job']\ndb_rows = [('Alice', 180000, 'data scientist'),\n           ('Bob', 99000, 'data engineer'),\n           ('Frank', 87000, 'data analyst')]\n\ndb = [dict(zip(__________)) for row in db_rows]\nprint(db)\n\nRequired Output: [{'name': 'Alice', 'salary': 180000, 'job': 'data scientist'}, \n{'name': 'Bob', 'salary': 99000, 'job': 'data engineer'}, \n{'name': 'Frank', 'salary': 87000, 'job': 'data analyst'}]\n"

In [ ]:
# write a function to return maximum element

In [ ]:
from functools import reduce

def mx(x,y):
  if x<y:
    x=y
  return x

a=[1,2,3,4,4]
q=reduce(mx,a)
print(q)

4

In [ ]:
q=reduce(lambda x,y: x if x>y else y,a)
print(q)

4

Q3. words of length
Solved
character backgroundcharacter
Stuck somewhere?
Ask for help from a TA and get it resolved.
Get help from TA.
Problem Description
Write a Python function that takes a string and a length value as input arguments and returns the words from the string whose length is equal to the provided input length value.


Input Format
The string
Value of the length of word


Output Format
A list of strings containing the words having length equal to the value provided in input.


Example Input
"The world has changed and none of us can go back all we can do is our best and sometimes the best that we can do is to start over
5


Example Output
[‘world’, ‘start’]


Example Explanation
The string has only two words with length of 5 which are "world" and "start".

In [ ]:
def LengthSequence(string, length):
    '''string => a string
       length => an integer representing required length of words which are be returned'''
    result= [i for i in string.split() if len(i)==length]
    # YOUR CODE GOES HERE
    

    return result

In [ ]:
LengthSequence("The world has changed and none of us can go back all we can do is our best and sometimes the best that we can do is to start over",5)

['world', 'start']

Q4. 2nd lowest
Solved
character backgroundcharacter
Stuck somewhere?
Ask for help from a TA and get it resolved.
Get help from TA.
Problem Description
Complete the Python function second_lowest() to find the second-lowest grade of students from the given names and grades of each student using lists and lambda function. For the input, the number of students, names, and the grades of each student were given.


Input Format
An integer N representing the number of students
# Input of student name and grades for each N student
Name of Student
Grade of Student


Output Format
A 2D list containing list of names and grades of students.
The 2nd lowest Grade
The name of student having 2nd lowest grade


Example Input
5 #Number of students
S ROY 
1 
B BOSE
3
N KAR
2
C DUTTA
1
G GHOSH
1


Example Output
[['S ROY', 1.0], ['B BOSE', 3.0], ['N KAR', 2.0], ['C DUTTA', 1.0], ['G GHOSH', 1.0]]
2.0
N KAR


Example Explanation
Initially, the input data is printed in the form of 2d-list. Post that, the second-lowest grade is printed, and after that, we print the name(s) of the student who has that grade.

In [ ]:
def second_lowest(students, scores):
    '''
    input:
    students -> a list of students
    scores -> list of the scores, with each score being that of the ith student
    
    output:
    student_data -> 2d list of data, with each inner list having name of student as 1st and score of 2nd as second element respectively
    second_low_score -> the second lowest score
    second_names -> list of students with score same as second lowest score, in the same order as in the students list
    '''
    
    student_data, second_low_score, second_names = None, None, []
    
    # Your code starts here
    student_data=list(map(lambda x,y: [x,y],students,scores))
    

    second_low_score=sorted(set(scores))[1]
    
    for i in student_data:
        if i[1]==second_low_score:
            second_names.append(i[0])
            
    
    # Your code ends here
    return student_data, second_low_score, second_names

In [ ]:
second_lowest(["S ROY","B BOSE", "N KAR", "C DUTTA","G GHOSH 1"],[1,3,2,1,1])

([['S ROY', 1], ['B BOSE', 3], ['N KAR', 2], ['C DUTTA', 1], ['G GHOSH 1', 1]],
 2,
 ['N KAR'])

Problem Description
You are given a nested list of strings of varying lengths. For each list, sort the string on the basis of the number of times the character ‘a’ appears in the string such that the string having the most number of ‘a’ comes first in the lists. Complete the python function and return the sorted list.

Note: If 2 strings has the same number of 'a', keep them in the same order as entered in the list.


Input Format
Number of lists
// For each list
Space separated strings


Output Format
Sorted list of strings based on number of ‘a’


Example Input
3
mango banana guava
rose sandalwood
bccc aaa baac c


Example Output
[['banana', 'guava', 'mango'], ['sandalwood', 'rose'], ['aaa', 'baac', 'bccc', 'c']]

In [ ]:
def sort_strings(str_list):
     #str_list-> nested list of strings
     st=[]
     # return the sorted list of strings on the basis of number of times ‘a’ occurs
     for i in range(len(str_list)):
      stl=sorted(str_list[i],key=lambda x:list(x).count("a"),reverse=True)
      st.append(stl)
      # code starts here
      
     res = st
     #code ends here
     return res

In [ ]:
sort_strings=[["mango" ,"banana", "guava"] ,["rose", "sandalwood"] ,["bccc", "aaa" ,"baac", "c"]]

Q6. Sort Strings
Solved
character backgroundcharacter
Stuck somewhere?
Ask for help from a TA and get it resolved.
Get help from TA.
Problem Description
Given a list of strings of varying lengths, complete the python function to sort the list of strings based on their lengths and return the sorted list.

Note: In case 2 strings have the same length, they are sorted in ascending order of their lexicographic index.


Input Format
List of Strings


Output Format
Sorted list of strings based on length


Example Input
cccc b dd aaa


Example Output
['b', 'dd', 'aaa', 'cccc']

In [ ]:
def sort_strings(str_list):
	#str_list-> list of strings
	
	# return the sorted list of strings on the basis of criteria mentioned
     stl=sorted(sorted(str_list),key=lambda x:len(x))

	
	# code starts here
     res = stl
	#code ends here
	
     return res

In [ ]:
sort_strings(["cccc", "b", "dd", "aaa"])

['b', 'dd', 'aaa', 'cccc']